In [1]:
import pandas as pd

In [2]:
pddf = pd.read_csv("batting_card.csv")

In [3]:
pddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season           699 non-null    int64
 1   match_id         699 non-null    int64
 2   match_name       699 non-null    object
 3   home_team        699 non-null    object
 4   away_team        699 non-null    object
 5   venue            699 non-null    object
 6   city             699 non-null    object
 7   country          699 non-null    object
 8   current_innings  699 non-null    object
 9   innings_id       699 non-null    int64
 10  name             699 non-null    object
 11  fullName         699 non-null    object
 12  runs             699 non-null    int64
 13  ballsFaced       699 non-null    int64
 14  minutes          699 non-null    object
 15  fours            699 non-null    int64
 16  sixes            699 non-null    int64
 17  strikeRate       699 non-null    object
 18  captain          699 non-null    bool
 19  isNotOut         699 non-null    bool
 20  runningScore     699 non-null    object
 21  runningOver      555 non-null    float64
 22  shortText        699 non-null    object
 23  commentary       555 non-null    object
 24  link             0 non-null      float64
dtypes: bool(2), float64(2), int64(7), object(14)
memory usage: 127.1+ KB

In [4]:
pdDF = pddf.copy()
pdDF

,season,match_id,match_name,home_team,away_team,venue,city,country,current_innings,innings_id,...,fours,sixes,strikeRate,captain,isNotOut,runningScore,runningOver,shortText,commentary,link
0,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,0,1,107.14,False,False,"{'wickets': 1, 'runs': 29}",4.2,b Curran,"bowled him, Rizwan's dragged on! Fullish, slan...",NaN
1,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,2,0,114.28,True,False,"{'wickets': 3, 'runs': 84}",11.1,c &amp; b Rashid,<B>caught and bowled!</B> That's the vital sca...,NaN
2,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,1,0,66.66,False,False,"{'wickets': 2, 'runs': 45}",7.1,c Stokes b Rashid,and he strikes first ball! #MCGsobig strikes a...,NaN
3,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,2,1,135.71,False,False,"{'wickets': 5, 'runs': 121}",16.3,c Livingstone b Curran,<B>flicked in the air to Livingstone at midwic...,NaN
4,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,0,0,0.00,False,False,"{'wickets': 4, 'runs': 85}",12.2,c &dagger;Buttler b Stokes,"<B>nibbles outside off, thin edge to Buttler!<...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,0,50.00,False,False,"{'wickets': 6, 'runs': 80}",12.3,c Loftie-Eaton b Scholtz,<b>Top edge and taken brilliantly at deep midw...,NaN
695,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,0,62.50,False,False,"{'wickets': 9, 'runs': 92}",15.2,c Baard b Smit,<b>And now it's surely over!</b> Chamika comes...,NaN
696,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,0,-,False,False,"{'wickets': 8, 'runs': 88}",14.2,run out (van Lingen/&dagger;Green),<b>And is this another one?!</b> This looks ve...,NaN
697,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,0,53.33,False,False,"{'wickets': 10, 'runs': 108}",18.6,c Erasmus b Wiese,<b>And that's that!</b> Chameera looks to swin...,NaN
698,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,1,100.00,False,True,{},NaN,not out,NaN,NaN

In [5]:
pdDF.equals(pddf)

True

In [6]:
pdDF = pdDF.drop_duplicates(keep = False)
pdDF

,season,match_id,match_name,home_team,away_team,venue,city,country,current_innings,innings_id,...,fours,sixes,strikeRate,captain,isNotOut,runningScore,runningOver,shortText,commentary,link
0,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,0,1,107.14,False,False,"{'wickets': 1, 'runs': 29}",4.2,b Curran,"bowled him, Rizwan's dragged on! Fullish, slan...",NaN
1,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,2,0,114.28,True,False,"{'wickets': 3, 'runs': 84}",11.1,c &amp; b Rashid,<B>caught and bowled!</B> That's the vital sca...,NaN
2,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,1,0,66.66,False,False,"{'wickets': 2, 'runs': 45}",7.1,c Stokes b Rashid,and he strikes first ball! #MCGsobig strikes a...,NaN
3,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,2,1,135.71,False,False,"{'wickets': 5, 'runs': 121}",16.3,c Livingstone b Curran,<B>flicked in the air to Livingstone at midwic...,NaN
4,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,0,0,0.00,False,False,"{'wickets': 4, 'runs': 85}",12.2,c &dagger;Buttler b Stokes,"<B>nibbles outside off, thin edge to Buttler!<...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,0,50.00,False,False,"{'wickets': 6, 'runs': 80}",12.3,c Loftie-Eaton b Scholtz,<b>Top edge and taken brilliantly at deep midw...,NaN
695,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,0,62.50,False,False,"{'wickets': 9, 'runs': 92}",15.2,c Baard b Smit,<b>And now it's surely over!</b> Chamika comes...,NaN
696,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,0,-,False,False,"{'wickets': 8, 'runs': 88}",14.2,run out (van Lingen/&dagger;Green),<b>And is this another one?!</b> This looks ve...,NaN
697,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,0,53.33,False,False,"{'wickets': 10, 'runs': 108}",18.6,c Erasmus b Wiese,<b>And that's that!</b> Chameera looks to swin...,NaN
698,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,1,100.00,False,True,{},NaN,not out,NaN,NaN

In [7]:
def remove_whitespace(s):
    return s.strip()
pdDF = pdDF.applymap(lambda x: remove_whitespace(x) if isinstance(x, str) else x)
pdDF

,season,match_id,match_name,home_team,away_team,venue,city,country,current_innings,innings_id,...,fours,sixes,strikeRate,captain,isNotOut,runningScore,runningOver,shortText,commentary,link
0,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,0,1,107.14,False,False,"{'wickets': 1, 'runs': 29}",4.2,b Curran,"bowled him, Rizwan's dragged on! Fullish, slan...",NaN
1,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,2,0,114.28,True,False,"{'wickets': 3, 'runs': 84}",11.1,c &amp; b Rashid,<B>caught and bowled!</B> That's the vital sca...,NaN
2,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,1,0,66.66,False,False,"{'wickets': 2, 'runs': 45}",7.1,c Stokes b Rashid,and he strikes first ball! #MCGsobig strikes a...,NaN
3,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,2,1,135.71,False,False,"{'wickets': 5, 'runs': 121}",16.3,c Livingstone b Curran,<B>flicked in the air to Livingstone at midwic...,NaN
4,2022,1298179,ENG v PAK,PAK,ENG,Melbourne Cricket Ground,Melbourne,Australia,PAK,1,...,0,0,0.00,False,False,"{'wickets': 4, 'runs': 85}",12.2,c &dagger;Buttler b Stokes,"<B>nibbles outside off, thin edge to Buttler!<...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,0,50.00,False,False,"{'wickets': 6, 'runs': 80}",12.3,c Loftie-Eaton b Scholtz,<b>Top edge and taken brilliantly at deep midw...,NaN
695,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,0,62.50,False,False,"{'wickets': 9, 'runs': 92}",15.2,c Baard b Smit,<b>And now it's surely over!</b> Chamika comes...,NaN
696,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,0,-,False,False,"{'wickets': 8, 'runs': 88}",14.2,run out (van Lingen/&dagger;Green),<b>And is this another one?!</b> This looks ve...,NaN
697,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,0,53.33,False,False,"{'wickets': 10, 'runs': 108}",18.6,c Erasmus b Wiese,<b>And that's that!</b> Chameera looks to swin...,NaN
698,2022,1298135,NAM v SL,NAM,SL,"Simonds Stadium, South Geelong, Victoria",Geelong,Australia,SL,2,...,0,1,100.00,False,True,{},NaN,not out,NaN,NaN

In [8]:
pdDF.drop(['shortText', 'match_id', 'match_name', 'venue', 'city', 'country', 'home_team', 'away_team',
           'commentary', 'link', 'season', 'captain', 'name', 'fullName', 'innings_id', 
           'current_innings'], axis=1, inplace=True)
pdDF

,runs,ballsFaced,minutes,fours,sixes,strikeRate,isNotOut,runningScore,runningOver
0,15,14,24,0,1,107.14,False,"{'wickets': 1, 'runs': 29}",4.2
1,32,28,58,2,0,114.28,False,"{'wickets': 3, 'runs': 84}",11.1
2,8,12,15,1,0,66.66,False,"{'wickets': 2, 'runs': 45}",7.1
3,38,28,46,2,1,135.71,False,"{'wickets': 5, 'runs': 121}",16.3
4,0,6,8,0,0,0.00,False,"{'wickets': 4, 'runs': 85}",12.2
...,...,...,...,...,...,...,...,...,...
694,4,8,9,0,0,50.00,False,"{'wickets': 6, 'runs': 80}",12.3
695,5,8,15,0,0,62.50,False,"{'wickets': 9, 'runs': 92}",15.2
696,0,0,4,0,0,-,False,"{'wickets': 8, 'runs': 88}",14.2
697,8,15,20,0,0,53.33,False,"{'wickets': 10, 'runs': 108}",18.6
698,11,11,14,0,1,100.00,True,{},NaN

In [9]:
pdDF= pdDF.dropna()

In [10]:
pdDF['isNotOut'] = pdDF['isNotOut'].replace({True: 1, False: 0})

C:\Users\ingobeni\AppData\Local\Temp\ipykernel_504\28219734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdDF['isNotOut'] = pdDF['isNotOut'].replace({True: 1, False: 0})

In [11]:
split_data = pdDF['runningScore'].str.split(',', expand=True, n=2)
split_data.columns = ['Wickets', 'Runnings']
pdDF = pd.concat([pdDF, split_data], axis=1).drop('runningScore', axis=1)

In [12]:
pdDF['Runnings'] = pdDF['Runnings'].str.replace('runs', '')
pdDF['Runnings'] = pdDF['Runnings'].str.replace('}', '')
pdDF['Runnings'] = pdDF['Runnings'].str.replace(':', '')
pdDF['Runnings'] = pdDF['Runnings'].str.replace("'", '')

pdDF['Wickets'] = pdDF['Wickets'].str.replace('{', '')
pdDF['Wickets'] = pdDF['Wickets'].str.replace('wickets', '')
pdDF['Wickets'] = pdDF['Wickets'].str.replace(':', '')
pdDF['Wickets'] = pdDF['Wickets'].str.replace("'", '')
pdDF

,runs,ballsFaced,minutes,fours,sixes,strikeRate,isNotOut,runningOver,Wickets,Runnings
0,15,14,24,0,1,107.14,0,4.2,1,29
1,32,28,58,2,0,114.28,0,11.1,3,84
2,8,12,15,1,0,66.66,0,7.1,2,45
3,38,28,46,2,1,135.71,0,16.3,5,121
4,0,6,8,0,0,0.00,0,12.2,4,85
...,...,...,...,...,...,...,...,...,...,...
693,29,23,37,2,1,126.08,0,13.6,7,88
694,4,8,9,0,0,50.00,0,12.3,6,80
695,5,8,15,0,0,62.50,0,15.2,9,92
696,0,0,4,0,0,-,0,14.2,8,88
697,8,15,20,0,0,53.33,0,18.6,10,108

In [13]:
pdDF['Wickets'] = pd.to_numeric(pdDF['Wickets'], errors='coerce').fillna(0).astype(int)
pdDF['Runnings'] = pd.to_numeric(pdDF['Runnings'], errors='coerce').fillna(0).astype(int)
pdDF['strikeRate'] = pd.to_numeric(pdDF['strikeRate'], errors='coerce').fillna(0).astype(int)

In [14]:
pdDF.shape

(555, 10)

In [15]:
pdDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 555 entries, 0 to 697
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   runs         555 non-null    int64
 1   ballsFaced   555 non-null    int64
 2   minutes      555 non-null    object
 3   fours        555 non-null    int64
 4   sixes        555 non-null    int64
 5   strikeRate   555 non-null    int32
 6   isNotOut     555 non-null    int64
 7   runningOver  555 non-null    float64
 8   Wickets      555 non-null    int32
 9   Runnings     555 non-null    int32
dtypes: float64(1), int32(3), int64(5), object(1)
memory usage: 41.2+ KB

In [16]:
pdDF.describe()

,runs,ballsFaced,fours,sixes,strikeRate,isNotOut,runningOver,Wickets,Runnings
count,555.000000,555.000000,555.000000,555.000000,555.000000,555.0,555.000000,555.000000,555.000000
mean,15.063063,13.643243,1.218018,0.434234,87.517117,0.0,11.198378,4.266667,79.722523
std,17.257907,11.993181,1.691249,0.921415,52.993811,0.0,5.945497,2.459981,46.824298
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.100000,1.000000,0.000000
25%,3.000000,5.000000,0.000000,0.000000,50.000000,0.0,5.600000,2.000000,39.000000
50%,9.000000,10.000000,1.000000,0.000000,92.000000,0.0,12.300000,4.000000,84.000000
75%,21.000000,19.000000,2.000000,1.000000,125.000000,0.0,16.350000,6.000000,112.000000
max,109.000000,64.000000,10.000000,8.000000,262.000000,0.0,19.600000,10.000000,199.000000

In [17]:
pd.get_dummies(pdDF)

,runs,ballsFaced,fours,sixes,strikeRate,isNotOut,runningOver,Wickets,Runnings,minutes_1,...,minutes_77,minutes_79,minutes_8,minutes_81,minutes_82,minutes_87,minutes_9,minutes_90,minutes_94,minutes_95
0,15,14,0,1,107,0,4.2,1,29,False,...,False,False,False,False,False,False,False,False,False,False
1,32,28,2,0,114,0,11.1,3,84,False,...,False,False,False,False,False,False,False,False,False,False
2,8,12,1,0,66,0,7.1,2,45,False,...,False,False,False,False,False,False,False,False,False,False
3,38,28,2,1,135,0,16.3,5,121,False,...,False,False,False,False,False,False,False,False,False,False
4,0,6,0,0,0,0,12.2,4,85,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693,29,23,2,1,126,0,13.6,7,88,False,...,False,False,False,False,False,False,False,False,False,False
694,4,8,0,0,50,0,12.3,6,80,False,...,False,False,False,False,False,False,True,False,False,False
695,5,8,0,0,62,0,15.2,9,92,False,...,False,False,False,False,False,False,False,False,False,False
696,0,0,0,0,0,0,14.2,8,88,False,...,False,False,False,False,False,False,False,False,False,False
697,8,15,0,0,53,0,18.6,10,108,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
pdDF.equals(pddf)

False

In [19]:
pdDF.to_csv('NewCricket.csv', index = False)

LinkedIn
Ismael (Ishmael T.) Ngobeni